/build/
/logs/
/captures/
__pycache__/
*.pyc

/external/*
!/external/README.md
!/external/linux-2.6.36.tar.xz

/toolchain/*
!/toolchain/README.md
!/toolchain/lzma920/
!/toolchain/uboot-mt7628-src/
!/toolchain/llvm/
/toolchain/llvm/*
!/toolchain/llvm/mingw64/
/toolchain/llvm/mingw64/*
!/toolchain/llvm/mingw64/bin/
!/toolchain/llvm/mingw64/lib/

/scripts/telnet/endoscope-telnet.local.ps1

/dumps/modified/
/dumps/working/
/dumps/current/
/dumps/ch341*/
!/dumps/original/
!/dumps/bases/
!/dumps/verified/

/.idea/workspace.xml
/.idea/projectSettingsUpdater.xml
/.idea/AndroidProjectSystem.xml
/.idea/caches/deviceStreaming.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/toolchain/llvm/mingw64/bin/libLLVM-22.dll
/.idea/AIRTOOLS.iml
/.idea/inspectionProfiles/Project_Default.xml
